:root {
  --orangeTextColor: rgb(220,190,0);
  --imageDestroyerWidth: 1194px;
  --blueBlack:  #141a2b;
  --blueBlackAlpha:  #141a2bbb;
  --blueBlacklight:  #14002b;;
  --myMagenta: rgb(160,0,90);
  --scrubberGreen: rgb(0,190,0);
  --thickOutline: #444a5b;
  --scale: 1;
 	--topMargin: 0;
}

html {}

body {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;		
	align-items: center;	
	font-family: 'Inconsolata', monospace;
	background-color: var(--blueBlack);	
}

#masterContainer {
			/*border: 1px solid blue;	*/
	padding: 2px;
	min-height: 100vh;	
	margin-top: 0;
	width:98%;
	height:98%;
	max-width: 1280px;	
}

@media screen and (max-height: 800px) {
  #masterContainer {
  	max-width: 1100px;
  }
}
.layoutContainer {				
	margin-top: 0;				
	position: relative;		
}

header {}

#nameContainerBorder {
	position: absolute;
	padding: 0.25% 0.6% 0 0.6%;	
	border-radius: 40px 40px 0 0;
	background-color: var(--thickOutline);		
	transform: translateY(-113%);
	z-index: 2;
	border: 1px solid var(--myMagenta);
	border-top: 2px solid var(--myMagenta);;
	border-bottom: none;	
}

#nameContainer {
	background-color: var(--blueBlack);
	padding: 9% 20px 0 20px;
	transform: translateY(2%);
	z-index:2;
	margin: 0;	
	border-radius: 35px 35px 0 0;
	box-shadow: 0 2px 0 2px var(--blueBlack);		
}
h1 {
	margin: 0;
	transform: translateY(-40%);
	font-size: 18px;
	color: rgb(0,235,0);	
	width: max-content;
	font-family: 'Inconsolata', monospace;
	letter-spacing: 3px		
}
@media screen and (max-height: 600px), screen and (max-width: 700px){
	h1{
		font-size: 16px;
	}	
}

.headerContainer {			
	display: flex;
	z-index: 5;
	flex-flow: row;
	align-items: flex-end;
	justify-content: space-between;
	color: var(--orangeTextColor);
	width: 100%;									
}

div.menu {
display: flex;
justify-content: flex-end;
}

ul.menu {		
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-right: 15px;	
}

.menu-item {	
	color: rgb(0,225,0);
	font-size: 20px;
	list-style: none;	
	margin: 0 40px 0 0;
	padding: 3px;
	font-family: 'Inconsolata', monospace;
	letter-spacing: 2px	
}

#sourceCanvas {
	display: none;
}
#skullCanvas {
	display: none;
}
#destinationCanvas {
	background-color: var(--blueBlack);
	width:100%;
	height:100%;
	z-index: 2;		
}
#littleContainer {
	position: absolute;
	padding: 1%;
	z-index:3;
	top: 35%;		
	background-color: var(--blueBlackAlpha);
	transition-property: opacity;
	transition-duration: 1s;	
}
#littleContainer:hover {
	transition-property: opacity;
	transition-duration: 1s;
	opacity: 0;
}
#littleCanvas {
	position: relative;
	margin-top: 6px;	
	width:100%;
	z-index:3;	
}

#borderDiv {
	padding: 0.5%;	
	background-color: var(--blueBlack);
	border-radius: 0px 0px 2% 2%;
	z-index: 0;
}

#borderDivB {	
	background-color: var(--thickOutline);
	padding: 0.5%;	
	border-radius: 0 0 2% 2%;
	/*border: 2px solid rgb(0,0,100);*/
	box-shadow: 0 0 0 1px var(--myMagenta);
	z-index: 0;
	
}

.layoutContainer:hover {
	cursor: pointer;
}

button {
	height: 5.2%;
	width: 3.5%;			
	border: none;		
	z-index: 3;
}

#resolveImage:hover, #resolveSecret:hover {		
	transition-property: transform filter width;
	transition-duration: 0.2s;
	transform: scale(1.15);
	filter: brightness(1.5);	
	border-radius: 50%;
}

#resolveImage:active, #resolveSecret:active{
	transition-property: transform filter;
	transition-duration: 0.1s;
	transform: scale(0.98);
	filter: brightness(0.8);
}

button:focus {
	outline: none;	
}

#resolveImage {
	position: absolute;
	top: 81%;
	left: 95%;	
	background-color: rgb(160,0,90);
	color: rgb(90,0,20);
}

#resolveSecret {
	position: absolute;
	top: 81%;
	left: 90%;
	background-color: rgb(220,190,0);
	color: rgb(130,60,0);	
}

#scrubberRef {
	position:relative;	
}

#scrubber {
	position: absolute;	
	top: 70%;
	left: 100%;
	transform: translate(-50%, 0);
	width: max-content;	
}

#scrubLeft {	
	background-color: transparent;		
	width: 0; 
  height: 0; 
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;  
  border-right: 35px solid rgb(0,190,0); 
}
@media screen and (max-height: 600px), screen and (max-width: 800px){
	#scrubber{
		transform: scale(0.5) translate(-100%, 0);
	}
}

#scrubRight {	
	background-color: transparent;		
	width: 0; 
  height: 0; 
  border-top: 17px solid rgba(0,190,0,0);
  border-bottom: 17px solid transparent;  
  border-left: 35px solid rgb(0,190,0);	
}

#scrubRight:hover {
	transition-property: transform filter;
	transition-duration: 0.2s;	
	filter: brightness(1.5);
	transform: scale(1.15);
}

#scrubLeft:hover {
	transition-property: transform filter;
	transition-duration: 0.2s;	
	filter: brightness(1.5); 
	transform: scale(1.15);	
}

#scrubLeft:active, #scrubRight:active {
	transition-property: transform filter;
	transition-duration: 0.2s;	
	filter: brightness(1.5); 
	transform: scale(0.75);	
}

.horizontal {
	border: none;	
	width: 100%;	
	padding-top: 0.5%;	
	margin: 0 0 0.5% 0;
	background-color: var(--myMagenta);
	z-index: 4;
}

.hrThick {
	width: 100%;		
	padding-top: 0.25%;
	margin-bottom: 0px;	
}

.torso {
	/*border: 1px solid green;*/
	padding: 2px;		
	margin-top: 0;
	width:98%;
	height:98%;
	max-width: 1280px;	
}
section {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: center;	
	font-size: 24px;		
	border: 3px solid var(--myMagenta);
	border-radius: 25px;
	padding: 2%;
	margin-top: 100px;				
}

div.imageHolder {
	align-self: flex-start;
	/*border: 1px solid red;*/
	max-width: 40%;
	min-width: 400px;
	margin-bottom: 3%;
}

div.aboutImage {
	vertical-align: middle;
	text-align: center;
	padding: 4px	;		
	border: 1px solid var(--myMagenta);	
	border-radius: 25px 5px 5px 5px;
}
#headshot {		
	max-width: 98%;	
	border: 3px solid var(--myMagenta);
	border-radius: 22px 4px 4px 4px;
	background-color: var(--blueBlack);
}
.aboutText {
	display: flex;
	justify-content: center;
	align-self: center;
	padding: 2% 2% 2% 2%;	
	order: 0;	
	flex-direction: column;
	max-width: 50%;
	min-width: 400px;
	line-height: 1.5;
	color: var(--orangeTextColor);
	font-family: 'Inconsolata', monospace;
		
}
.aboutText > p {
	border: 1px solid var(--myMagenta);
	padding: 5% 5% 5% 5%;		
	border-radius: 0 25px 0 25px;
}
.sectionCanvas {		
	align-self: center
	width: 70%;	
	background-color: var(--blueBlack);	
}
div.stackListContainer {
	width: 100%;
	display:flex;
	flex-direction: column;
	text-align: center;
}
ul.stackList {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	list-style: none;
	margin-top: -5%;
	width: 100%;
	padding: 1%;
			/*border: 1px solid red;*/
}
li.stackIcon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 120px;
	width: 100px;	
	padding: 4%;
	font-size: 20px;
	color: var(--scrubberGreen);
	border: 1px solid var(--myMagenta);
	border-radius: 25px;
	margin: 5px;
}
.stackIcon > img {
	margin: none;
	max-width: 100px;
	max-height: 100px;
}
span.stackText {
	margin-top: 25px;
}
#stackCanvas {
	width: 90%;
	/*transform: translateY(-70%);*/
	border: 3px solid var(--myMagenta);
	padding: 2%;	
}
div.stackCanvas {
	transform: translateY(-70%);
}
div.scrambleCanvas {
	width: 100%;
}
#scrambleCanvas {
	width: 100%;
}